{% extends 'layout.html' %}
{% block content %}
    <a href="{% url 'home_page' %}">wróć do listy artykułów</a>
    
    <div class="row">
        <div class="col-sm-12">
            {{ article.title }}
        </div>
        <div class="col-sm-12">
            {{ article.description }}
        </div>
    </div>
    
    <div class="row">
        <div class="col-md-12">
            <form method="POST">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Dodaj</button>
            </form>
        </div>
    </div>
{% endblock %}